.days-board-container {
  border: 1px solid black;
  height: 55vh;
  width: 250px;
  overflow-y: scroll;

  .days-board-day {
    padding: 5% 10%;
  }

  .days-board-time-box {
    padding: 5% 10%;
  }
}