.days-board-container {
  .days-board-reservation{
    margin-bottom: 15%;
    :hover {
      cursor: pointer;
    }
  }
  .days-board-reservation-confirm-msg {
    color: #0552CD;
    font-size: 14px;
    text-align: center;
  }

  .days-board-schedule-days {
    display: flex;
    justify-content: center;
    padding: 5% 10%;
    width: 45%;
  }
  .days-board-shedule-container {
    border: 1px solid #D5D5D5;
    border-radius: 8px;
    height: 60vh;
    width: 250px;
    overflow-y: scroll;
  
    .days-board-schedule-time-box {
      padding: 5% 10%;
      :hover {
        cursor: pointer;
      }
    }
  }
}
