.days-container {
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 30px;

  :hover{
    cursor: pointer;
  }

  .days-container-days {
    padding: 5% 18%;
  }
  
  .days-container-day {
    border-radius: 5px;
    padding: 5% 18%;
    width: 100%;
  }
}