.schedule-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .schedule-company {
    margin: 5% 5%;
    width: 15%;
  }

  .schedule-company-title {
    margin-bottom: 2%;
    padding: 3%;
  }
  
  .schedule-company-board {
    padding: 3%;
  }
}

